.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #094433;
    /* background-color: #131921; */
    position: static;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header__search{ 
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchInput{
   height:12px ; 
   padding: 10px;
   border: none;
   width: 100%;

}
.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header__nav{
display: flex;
justify-content: space-evenly;
}

.header__option{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header-_optionImg{
    width: 20px;
    object-fit: contain;
    margin: 0 10px;
}

.header-_optionLineOne{
    font-size: 10px;
   margin-top: 10px;
}

.header-_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionCart,.header__optionFlag{
    display: flex;
    padding: 10px;
    align-items: center;
    color: white;
    /* font-size: 20px; */
}

.header__optionCartImg{
   font-size: 30px;
}